<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Abogada</h1> <h2>(2010-2017)</h2> - <h3>Universidad Nacional del Nordeste</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Escribana</h1> <h2>(2020-2021)</h2> - <h3>Universidad Nacional del Nordeste</h3>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Docente en Inglés</h1> <h2>(2006-2012)</h2> - <h3>Universidad de Cambridge</h3>
            </li>
        </ul>
    </div>
</div>

