<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Poder Judicial de la Provincia</h1> <h2>Pro-Secretaria y Escribiente</h2> - <h3>(2018-actualidad)</h3>
                <p>Comence en el año 2018 como Escribiente en atención al público y diversas tareas relacionadas al area tribunalicia y luego despues de concursar he ingresado como Prosecretaria en el Juzgado de Familia </p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>New English Institute</h1> <h2>Profesora de Ingles</h2> - <h3>(2020-actualidad)</h3>
                <p>Ha sido mi primer trabajo a la edad de 16 años, al comenzar la facultad, lo deje un tiempo y lo volvi a retomar en pandemia</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Estudio Juridico Dassori</h1> <h2>Secretaria Jurídica</h2> - <h3>(2010-2015)</h3>
                <p>Ha sido mi primer encuentro con mi pasión por el derecho</p>
            </li>
        </ul>
    </div>
</div>
