<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-sm-7 col-lg-7 parte1">
            <h1>OGA</h1>
            <p>El proyecto trata de implementar las nuevas tecnologias del año 2023 y aplicarlas al servicio de justicia para que esta sea rapida y eficiente</p>
        </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/justitia.png" class="img-fluid img-proyecto">
            <div>
    </div>
</div>
